body{
font-style: normal;
}

.background1{
 width: 900px;
 position:relative;
}

.text1{
    position: absolute; 
    border: 5px solid red;
    font-size: 54px;    
    background: rgba(0,0,0,0); 
    color: white;
    margin-left: auto;
    margin-right: auto;
}